{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro remandCard(remand, model, relevant) %}
    {% if not relevant %}
        {% set colour = 'red' %}
    {% else %}
        {% if remand.status == 'APPLICABLE' %}
            {% set colour = 'green' %}
        {% else %}
            {% set colour = 'blue' %}
        {% endif %}
    {% endif %}

    <article class="moj-ticket-panel govuk-!-margin-bottom-4">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--{{colour}}">
            <h4 class="govuk-heading-s">
                {% if remand.replacedCharges.length %}
                    {% for replacedCharge in remand.replacedCharges %}
                        {{ chargeText(replacedCharge, model.offenceDateText(replacedCharge)) }}
                    {% endfor %}
                {% else %}
                    {% for charge in remand.charges %}
                        {{ chargeText(charge, model.offenceDateText(charge)) }}
                    {% endfor %}
                {% endif %}


                <span class="govuk-tag govuk-tag--{{colour}} govuk-!-margin-top-2">{{model.statusText(remand)}}</span>
                {% if model.isRecallChargeRemand(remand) %}<span class="govuk-tag govuk-tag--black">Recall</span>{% endif %}
                {% if remand.replacedCharges.length %}<span class="govuk-tag govuk-tag--bright-purple">Selected</span>{% endif %}
            </h4>

            {% if model.showEditReplacedOffenceLink(remand) %}
                <div class="govuk-!-margin-bottom-2">
                    {% if remand.replacedCharges.length %}
                            Replaced with
                            {% for charge in remand.charges %}
                                {{ chargeText(charge, model.offenceDateText(charge)) }}
                            {% endfor %}
                    {% endif %}
                        <a href="{{model.editReplacedRemandLink(remand)}}">Edit replaced offence</a>
                </div>
            {% endif %}
            
            {{govukSummaryList({
                classes: 'govuk-summary-list--no-border govuk-summary-list--s',
                rows: model.summaryRows(remand)
            })}}

        </section>
    </article>

{% endmacro %}

{% macro chargeText(charge, offenceDateText) %}
    {{charge.offence.description}} committed on {{offenceDateText}}<br/>
{% endmacro %}