{% macro remandCard(remand, model, relevant) %}
    {% if not relevant %}
        {% set colour = 'red' %}
    {% else %}
        {% if remand.status == 'APPLICABLE' %}
            {% set colour = 'green' %}
        {% else %}
            {% set colour = 'blue' %}
        {% endif %}
    {% endif %}

    <article class="moj-ticket-panel govuk-!-margin-bottom-4 govuk-!-margin-left-6">

        <section class="moj-ticket-panel__content moj-ticket-panel__content--{{colour}} moj-ticket-panel__content--inline">

            <!-- Col 1 -->
            <div class="moj-ticket-panel__column">
                {% for charge in remand.charges %}
                    <span>
                        <strong>{{charge.offence.description}}</strong> committed on
                        {% if (charge.offenceDate and charge.offenceEndDate and charge.offenceEndDate !== charge.offenceDate) %}
                            {{ charge.offenceDate | date('DD MMM YYYY') }} to {{ emand.charge.offenceEndDate | date('DD MMM YYYY') }}
                        {% elseif charge.offenceDate %}
                            {{ charge.offenceDate | date('DD MMM YYYY') }}
                        {% endif %}
                    </span><br/>
                {% endfor %}
                <span class="moj-badge moj-badge--{{colour}}">{{remand.status}}</span>
            </div>
            {% set charge = remand.charges[0] %}
            <!-- Col 2 -->
            <div class="moj-ticket-panel__column">

                <span>
                    <b>Court:</b>
                    {{charge.courtLocation}}
                    <span class="govuk-!-margin-right-4"></span>
                    <b>Case number:</b>
                    {{charge.courtCaseRef}}
                </span><br/>
                <span>
                    <b>Remand:</b>
                    {{remand.days}} days
                </span><br/>

                <span>
                    <b>Period:</b>
                    {{remand.from | date('DD MMM YYYY') }} to {{remand.to | date('DD MMM YYYY') }}
                </span><br/>
                <span>
                    <b>Start outcome:</b>
                    {{remand.fromEvent.description}} on {{remand.fromEvent.date | date('DD MMM YYYY') }}
                </span><br/>
                <span>
                    <b>Stop outcome:</b>
                    {{remand.toEvent.description}} on {{remand.toEvent.date | date('DD MMM YYYY') }}
                </span><br/>
                <span>
                    <b>Offence outcome:</b>
                    {{charge.resultDescription}}
                </span><br/>
            </div>
        </section>
    </article>

{% endmacro %}