{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../../macros/remandCard.njk" import remandCard %}
{% from "../../components/remand-table/macro.njk" import remandTable %}
{% from "../../components/remand-breakdown/macro.njk" import remandBreakdown %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {% set backlink = "/prisoner/" + prisoner.prisonerNumber + "/remand" %}
        {{ govukBackLink({
            text: "Back",
            href: backlink
        }) }}
    </nav>
{% endblock %}

{% block content %}

    {% if form.errors.length %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: form.errorList()
        }) }}
            </div>
        </div>
    {% elif model
            .mostImportantErrors()
            .length %}
        {% set errorBody %}
        <div class="govuk-error-summary__body">
            <p>There is information missing in NOMIS that could impact the remand time.</p>
            <ul class="govuk-list govuk-error-summary__list">
                {% for error in model.mostImportantErrors() %}
                    <li>
                        <p class="govuk-body">{{error.message}}</p>
                    </li>
                {% endfor %}
            </ul>
            <p class="govuk-!-margin-top-4">To ensure the remand time is calculated correctly, add the missing information in NOMIS, then <a href="">reload this page</a>.</p>
        </div>
        {% endset -%}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [],
          descriptionHtml: errorBody
    }) }}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Review remand</span>
                Remand breakdown
            </h1>
        </div>
    </div>

    {% if  model.totalDays() > 0 %}
        {{ remandTable(model.remandTable, 'Remand periods to be applied') }}
    {% else %}
        <div class="govuk-grid-row govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-three-quarters">
                <h2>No remand to be applied</h2>
                <p class="govuk-body">The remand tool has calculated that there is no remand to be applied</p>
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% if model.relevantChargeRemand.length or model.notRelevantChargeRemand.length %}
                {% if model.relevantChargeRemand.length %}
                    <h2 class="govuk-heading-l">Relevant remand</h2>

                    {% for remand in model.relevantRemandBreakdowns %}
                        {{ remandBreakdown(remand)}}
                        {% if not loop.last %}
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h2 class="govuk-heading-s">Relevant remand</h2>
                    <p class="govuk-body">The remand tool has not identified any relevant remand periods.</p>
                {% endif %}
                {% if model.notRelevantChargeRemand.length %}
                    {% set nonRelevantHtml %}
                        {% for remand in model.notRelevantRemandBreakdowns %}
                            {{ remandBreakdown(remand)}}
                            {% if not loop.last %}
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                            {% endif %}
                        {% endfor %}
                    {% endset %}
                        {{ govukDetails({
                            summaryText: "View non-relevant and inactive remand periods",
                            html: nonRelevantHtml
                        }) }}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% if  model.intersectingSentences.length or model.periodsOutOfPrison.length %}
            <h2 class="govuk-heading-m">Days deducted from the relevant remand periods</h2>
            <p class="govuk-body">Time spent not in custody or spent serving an overlapping sentence are deducted from the relevant remand periods above.</p>
          {% endif %}
            {% if model.intersectingSentences.length %}
                <h3 class="govuk-heading-s">Previous sentences that may overlap remand periods</h3>
                {{ govukTable( model.intersectingSentenceTable() )}}
            {% endif %}
            {% if model.periodsOutOfPrison.length %}
                <h3 class="govuk-heading-s">Time spent not in custody</h3>
                {{ govukTable(model.periodsOutOfPrisonTable())}}
            {% endif %}

            {% if model
                .otherErrors()
                .length %}
                {% set unrelatedHtml %}
                <ul class="govuk-list">
                    {% for error in model.otherErrors() %}
                        <li>{{error.message}}</li>
                    {% endfor %}
                </ul>
                {% endset -%}
                {{ govukDetails({
                summaryText: "There are errors with nomis data that may be unrelated to the given relevant remand",
                html: unrelatedHtml
            }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
