{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../macros/remandCard.njk" import remandCard %}
{% from "../../components/remand-table/macro.njk" import remandTable %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {% set backlink = model.backlink() %}
    {{ govukBackLink({
      text: "Back",
      href: backlink
    }) }}
  </nav>
{% endblock %}

{% block content %}
    {% if form.errors.length %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: form.errorList()
                }) }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Review remand</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Is this remand period relevant?</h1>
            {% if not model.edit %}
                <p class="govuk-body govuk-hint">{{model.index + 1}} of {{model.total}} remand periods to review</p>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-!-margin-top-2">
                There are periods of remand that may be relevant to this person’s offence history. <br/>
                Check if the remand period is relevant to another offence.
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ remandTable(model.remandTable) }}
        </div>
    </div>

    <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukRadios({
            name: "selection",
            fieldset: {
                legend: {
                text: "Is this remand period relevant?",
                classes: "govuk-fieldset__legend--m"
                }
            },
            errorMessage: form.messageForField('selection'),
            value: form.selection,
            items: model.radioItems()

            }) }}
        <div>
            <button class="govuk-button" data-module="govuk-button" name="submit">Confirm and continue</button>
            <a data-qa="cancel-link"
               data-prevent-double-click="true" class="govuk-button govuk-!-margin-left-3 govuk-button--secondary no-js-hidden"
               data-module="govuk-button"
               href="{{ model.cancelLink() }}">
                Cancel
            </a>
        </div>
    </form>

{% endblock %}
