{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../macros/remandCard.njk" import remandCard %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {% set backlink = model.backlink() %}
    {{ govukBackLink({
      text: "Back",
      href: backlink
    }) }}
  </nav>
{% endblock %}

{% block content %}
    {% if form.errors.length %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: form.errorList()
                }) }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-xl">Adjustments</span>Check if this remand period is relevant
            </h1>
        </div>
        </br>
    </div>
    

    {% for remand in model.chargeRemand %}

       <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

           <p class="govuk-body">The remand tool will treat the below remand period as not relevant.</p>
           <p class="govuk-body">Check whether the remand period connects to another offence.</p>

           {% if remand.replacedCharges.length > 1 or remand.charges.length > 1 %}
             <p class="govuk-body">If it does, select ‘Yes’ to view and consider each offence individually.</p>
           {% else %}
             <p class="govuk-body">
               If it does, connect it to the related offence to help the remand tool recognise it as a relevant remand period.
               This will not change the court case information held about this offence.
             </p>
           {% endif %}

         </div>
       </div>

       {{ remandCard(remand, model, false)}}
    {% endfor %}

    <form class="form" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% if not model.edit %}
            <p class="govuk-body">Offence {{model.index + 1}} of {{model.total}}</p>
        {% endif %}
    
        {{ govukRadios({
            name: "selection",
            fieldset: {
                legend: {
                text: "Is this remand period relevant?",
                classes: "govuk-fieldset__legend--m"
                }
            },
            errorMessage: form.messageForField('selection'),
            value: form.selection,
            items: model.radioItems()
        
            }) }}
        <div>
            <button class="govuk-button" data-module="govuk-button" name="submit">Confirm and continue</button>
        </div>
    </form>
    <a href="{{model.cancelLink()}}" class="govuk-link">Cancel</a>
{% endblock %}