{% extends "../../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% set pageTitle = applicationName + " - Validation errors" %}
{% set mainClasses = "app-container govuk-body" %}


{% block content %}

    {% set errorBody %}
        <div class="govuk-error-summary__body">
            <p>There is information missing in NOMIS that could impact the remand time.</p>
            <ul class="govuk-list govuk-error-summary__list">
                {% for error in model.mostImportantErrors() %}
                    <li>
                        <p class="govuk-body">{{error.message}}</p>
                    </li>
                {% endfor %}
            </ul>
            <p class="govuk-!-margin-top-4">To ensure the remand time is calculated correctly, add the missing information in NOMIS, then <a href="">reload this page</a>.</p>
        </div>
    {% endset -%}

    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [],
        descriptionHtml: errorBody
    }) }}
{% endblock %}