{%- from "hmpps/components/mini-profile/macro.njk" import miniProfile -%}
{% if prisoner %}
    {% set person = {
        firstName: prisoner.firstName,
        lastName: prisoner.lastName,
        prisonerNumber: prisoner.prisonerNumber,
        dateOfBirth: prisoner.dateOfBirth,
        status: prisoner.imprisonmentStatusDescription,
        prisonName: prisoner.prisonName,
        cellLocation: prisoner.cellLocation
    } %}
    {{ miniProfile(person, '/' + prisoner.prisonerNumber + '/image', digitalPrisonServicesUrl + '/prisoner/' + prisoner.prisonerNumber) }}
{% endif %}