.govuk-main-wrapper {
  min-height: 600px;
}

.moj-ticket-panel__content--inline {
  display: flex;
}

.moj-ticket-panel__column {
  &:first-of-type {
    width: 40%;
  }
  width: 60%;
}

.moj-interruption-card__body {
   .govuk-details {  
    * {
      color: white;
    }
  }
}

.govuk-summary-list {
  &.govuk-summary-list--s {
    font-size: 16px;

    dd, dt {
      padding: 5px 0
    }
  }
}
.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}
